:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

.heading {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    border: 2px solid var(--accent1-color);
    padding: 10px;

}

.heading img {
    grid-column: 1;
    justify-self: center;
    padding: 10px;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: var(--accent2-color);
    text-align: center;
    padding: 7px;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia1 a {
    text-decoration: none;
    display: block;
    border: rgb(31, 41, 175) solid 1px;
    padding: 10px;
}

.socialmedia1 {
    display: flex;
    grid-column: 2 / 4;
    justify-content: space-between;
    align-items: center;
}

.hero {
    position: relative;

}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 100px;
}

.hero article {
    background-color: var(--secondary-color);
    position: absolute;
    bottom: 10px;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
}

.history h2 {
    grid-column: 1/7;
}

.historypic {
    grid-column: 3/5;
    justify-self: center;
    align-self: center;
}

.historypic img {
    width: 250px;
    border-radius: 5%;
    border: 2px solid black;
}

.story1 {
    grid-column: 1/3;

}

.story2 {
    grid-column: 5/7;

}

.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flexbox figure {
    border: 1px solid black;
    padding: 2px;
    margin-top: 3px;
}

.flexbox figcaption {
    justify-self: center;
}

.flexbox img {
    width: 120px;
    padding: 10px;
}

footer {
    border-top: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

footer p {
    grid-column: 1/3;
    justify-self: center;

}

.socailapp {
    grid-column: 3/4;
}

footer a {
    text-decoration: none;
    margin-left: 20px;
}

/* for contact html */

form {
    border: 2px solid var(--accent1-color);
    padding: 10px;
    border-radius: 10px;
}

.main-holder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.contact-info {
    text-align: center;
    margin-bottom: 10px;
}

.contact-info h1 {
    margin-top: 10px;
}

.contact-info p {
    margin: 2px;
}

.location {
    grid-column: 1/2;
    width: 400px;
}

.poll {
    grid-column: 2/3;
}

input[type="text"],
textarea,
input[type="email"] {
    width: 70%;
    padding: 5px;
    border: 2px solid black;
    border-radius: 2px;
}

.radio-container {
    gap: 10px;
}

.radio-option,
.check-option {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 2px;
}

.last-hero {
    border: 2px solid black;
}

.form-username,
.form-gmail,
.form-group,
.form-textarea,
.newsletter,
.btm-form {
    margin-top: 15px;
}

.btm-form {
    display: block;
    width: 70%;
    padding: 3px;
    border: 2px solid black;
    border-radius: 10px;
}

.btm-form:hover {
    background-color: #495db6;
}