:root {
    --primary-color: darkblue;
    --secondary-color: rgb(21, 11, 77);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: (--primary-color);
    border: 3px solid rgb(110, 103, 103);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
}

h1 {
    color: (--primary-color);
    border-bottom: 3px solid rgb(67, 67, 88);
    padding-bottom: 5px;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    color: (--secondary-color);
    text-align: center;
    position: relative;
}

aside p {
    font-style: normal;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 110px;
}

aside img {
    width: 200px;
    height: auto;
    border: 3px solid black;
    border-radius: 6px;
}

footer {
    margin-top: 12px;
    border-top: 2px solid black;
    text-align: center;
}

/* Class Selector */

.box {
    margin: 1rem;
    padding: 1rem;
    background-color: (var(--primary-color));
    border: 2px solid black;
    color: rgb(36, 34, 34);
}