nav {
    background-color: darkblue;
    border: 3px solid rgb(110, 103, 103);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
}

h1 {
    color: darkblue;
    border-bottom: 3px solid rgb(67, 67, 88);
    padding-bottom: 5px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 3px solid black;
    padding: 1rem;
    background-color: rgba(235, 170, 51, 0.774);
    color: rgb(21, 11, 77);
    text-align: center;
}

aside p {
    color: rgb(21, 11, 77);
    font-style: normal;
}

aside img {
    width: 200px;
    height: auto;
    border: 3px solid black;
    border-radius: 6px;
}

footer {
    margin-top: 12px;
    border-top: 2px solid black;
    text-align: center;
}